/* avatar.module.css */
.shadow-avatar-page {
  padding: 32px;
  color: #00ffff;
  background: #000014;
  min-height: 100vh;
}
.shadow-avatar-title {
  font-size: 24px;
  font-weight: 700;
}

.shadow-avatar-content {
  margin-top: 32px;
}
