{
  "openapi": "3.1.0",
  "info": {
    "title": "3000 Studios Autonomous CTO API",
    "description": "API allowing 3KAI (Custom GPT) to manage 3000Studios.com including code updates, media management, and deployment monitoring.",
    "version": "1.1.0"
  },
  "servers": [
    {
      "url": "https://3000studios.com",
      "description": "Production Server"
    }
  ],
  "paths": {
    "/api/gpt-bridge": {
      "post": {
        "operationId": "send_instruction",
        "summary": "Send a production site update",
        "description": "Sends a natural language or structured command to update the site code, content, or style.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "instruction": {
                    "type": "string",
                    "description": "The command to execute (e.g. 'Add a new blog post about AI')"
                  }
                },
                "required": ["instruction"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Instruction received and deployment started"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/media/browse": {
      "get": {
        "operationId": "browse_media",
        "summary": "Search and list Cloudinary media",
        "description": "Lists videos, images, and audio files from Cloudinary and the internal media registry.",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "Type of media to filter by",
            "schema": {
              "type": "string",
              "enum": ["all", "video", "image", "audio"]
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "Search term for file names",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of media items with URLs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "source": { "type": "string" },
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": { "type": "string" },
                          "url": { "type": "string" },
                          "type": { "type": "string" },
                          "format": { "type": "string" }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/deployment/preview": {
      "get": {
        "operationId": "get_preview_url",
        "summary": "Get latest deployment preview",
        "description": "Returns the URL and status of the most recent Vercel deployment.",
        "responses": {
          "200": {
            "description": "Preview URL information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "deployment": {
                      "type": "object",
                      "properties": {
                        "url": { "type": "string" },
                        "status": { "type": "string" },
                        "createdAt": { "type": "string" }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
