name: Auto-Merge

on:
    pull_request:
        types:
            - opened
            - synchronize
            - reopened
            - labeled

jobs:
    auto-merge:
        runs-on: ubuntu-latest
        permissions:
            contents: write
            pull-requests: write
            checks: read

        steps:
            - name: Auto-merge PR
              if: github.event.pull_request.user.login == 'dependabot[bot]' || contains(github.event.pull_request.labels.*.name, 'auto-merge')
              uses: actions/github-script@v6
              with:
                  script: |
                      github.rest.pulls.merge({
                        owner: context.repo.owner,
                        repo: context.repo.repo,
                        pull_number: context.issue.number,
                        merge_method: 'squash'
                      })
